{% extends "edYou/layout.html" %}

{% load static %}

{% block title %}Dashboard{% endblock %}

{% block dashboard %}active{% endblock %}

{% block search %}
    <form class="d-flex m-2 w-25 mx-auto" action="{% url 'search' %}">
        <input class="form-control mx-2" type="search" name="q" placeholder="Search" aria-label="Search" required>
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
{% endblock %}

{% block main %}
    <div class="container">
        <div class="btn-group btn-group-flex">
            <button class="btn btn-light" id="user-courses-btn" type="button">My Courses</button>
            <button class="btn btn-light" id="enrolled-courses-btn" type="button">Enrolled Courses</button>
        </div>
        
        <div id="user-courses">
            {% for course in user_courses %}
                <div class="my-2 hide-flow">
                    <img class="my-2 allcourses-img float-left hide-flow mx-lg-5" src="{{ course.img.url }}" alt="Course Preview Image"><br>
                    <div class="my-4 mx-lg-5">
                    <a href="{% url 'course' course.id %}">{{ course.name }}</a>
                    <h6>Subject: {{ course.subject }}</h6>
                    <h6>Difficulty: {{ course.difficulty }}</h6>
                    </div>
                </div><br>
            {% endfor %}
        </div>

        <div id="enrolled-courses">
            {% for course in enrolled_courses %}
                <div class="my-2 hide-flow">
                    <img class="my-2 allcourses-img float-left hide-flow mx-lg-5" src="{{ course.img.url }}" alt="Course Preview Image"><br>
                    <div class="my-4 mx-lg-5">
                    <a href="{% url 'course' course.id %}">{{ course.name }}</a>
                    <h6>Subject: {{ course.subject }}</h6>
                    <h6>Difficulty: {{ course.difficulty }}</h6>
                    </div>
                </div><br>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'edYou/dashboard.js' %}"></script>
{% endblock %}
