{% extends "edYou/layout.html" %}

{% load static %}

{% block title %}Course - {{ course.name }}{% endblock %}

{% block search %}
    <form class="d-flex m-2 w-25 mx-auto" action="{% url 'search' %}">
        <input class="form-control mx-2" type="search" name="q" placeholder="Search" aria-label="Search" required>
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
{% endblock %}

{% block main %}

    <div id="course">
        <div class="btn-group btn-group-flex mb-2">
            <button class="btn btn-light" id="overview-btn" type="button">Overview</button>
            <button class="btn btn-light" id="course-btn" type="button">Course</button>
            <button class="btn btn-light" id="notes-btn" type="button">Notes</button>
        </div>
        <div id="course-overview">
            <div class="float-lg-left" id="course-title">
                <div id="course-img-div"><img class="my-2" id="course-img" src="{{ course.img.url }}" alt="Course Preview Image"></div>
                <h5 id="course-name"><b>{{ course.name }}</b></h5>
                <p>by {{ course.teacher }}</p>
            </div>
            <form action="{% url 'course' course.id %}" method="post">
                {% csrf_token %}
                <button name="enroll" value="enroll" id="enroll-btn" class="btn btn-primary float-lg-right m-lg-2 mb-4">Unenroll</button>            
            </form>
            <div class="float-lg-left m-lg-5" id="course-details">
                <p id="course-sub">Subject: {{ course.subject }}</p>
                <p id="course-lang">Course Language: {{ course.language }}</p>
                <p id="course-dif">Difficulty: {{ course.difficulty }}</p>
                <p id="course-dur">Duration: {{ course.duration }}</p>
            </div>
            <p class="w-100" id="course-desc">Description: {{ course.description }}</p>
        </div><br>

        {% if chapters %}
            <script>var videoList = []</script>
            <div id="course-chapters">
                <div class="float-lg-left embed-responsive embed-responsive-16by9 mx-auto w-50 mb-4" id="js-video"></div>
                <div id="chapters" class="accordian float-lg-right mx-auto">
                    <div class="card mx-auto">
                        {% for chapter in chapters %}
                            <div class="card-header">
                                <h2 class="mb-0">
                                    <button class="btn btn-light btn-block text-center" type="button" data-toggle="collapse" data-target="#chapter-{{ forloop.counter }}">
                                        {{ forloop.counter }}. {{ chapter.name }}
                                    </button>
                                </h2>
                            </div>

                            <div id="chapter-{{ forloop.counter }}" class="collapse">
                                {% for video in chapter.videos %}
                                    <div class="px-4 text-left">
                                        <button id="btn-c{{ forloop.parentloop.counter }}-v{{forloop.counter}}" class="btn btn-link">{{ forloop.counter }}. {{ video.name }}</button>
                                        <iframe allowFullScreen="allowFullScreen" id="video-c{{ forloop.parentloop.counter }}-v{{forloop.counter}}" class="embed-responsive-item mx-auto" src="{{ video.video }}"></iframe>
                                        <script>
                                            videoList.push(document.getElementById('video-c{{ forloop.parentloop.counter }}-v{{forloop.counter}}'));
                                            document.getElementById('video-c{{ forloop.parentloop.counter }}-v{{forloop.counter}}').remove();
                                            document.addEventListener('DOMContentLoaded', () => {
                                                document.getElementById('btn-c{{ forloop.parentloop.counter }}-v{{forloop.counter}}').onclick = () => {
                                                    history.pushState('', '', `?section=course&c={{ forloop.parentloop.counter }}&v={{forloop.counter}}`);
                                                    displayVideo();
                                                }
                                            })
                                        </script>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                        <script>displayVideo();</script>
                    </div>
                </div>
            </div>
        {% endif %}

        <div id="course-notes">
            <form action="{{ request.path }}" method="post">
                {% csrf_token %}
                <textarea class="form-control" id="notes-textarea" name="content">{% if notes != None %}{{ notes.content }}{% endif %}</textarea>
                <button class="btn btn-primary my-3 float-right" type="submit">Save</button>
            </form>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'edYou/enroll.js' %}"></script>
{% endblock %}
